* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

.header {
    width: 100%;
    height: 120px;
    text-align: center;
    color: white;
    padding: 20px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.header h3 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer {
    width: 100%;
    height: 20vh;
    text-align: center;
    color: white;
    padding: 20px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.footer span {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}

.status__icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(214, 61, 46);
    border-radius: 50%;
}

.status__icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
}

.status__icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(158, 158, 158);
    border-radius: 50%;
}